includes:
	- ../../conf/bleedingEdge.neon

parameters:
	level: 8
	ignoreErrors:
		-
			message: "#^Trait OnlyFilesNotAnalysedTrait\\\\BarTrait is used zero times and is not analysed\\.$#"
			count: 1
			path: src/BarTrait.php
