rules:
	- PHPStan\Rules\Playground\FunctionNeverRule
	- PHPStan\Rules\Playground\MethodNeverRule
	- PHPStan\Rules\Playground\NotAnalysedTraitRule
	- PHPStan\Rules\Playground\NoPhpCodeRule
	- PHPStan\Rules\Playground\PhpdocCommentRule

conditionalTags:
	PHPStan\Rules\Playground\StaticVarWithoutTypeRule:
		phpstan.rules.rule: %checkImplicitMixed%

services:
	-
		class: PHPStan\Rules\Playground\StaticVarWithoutTypeRule
