<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	cacheResult="false"
	colors="true"
	executionOrder="random"
	failOnRisky="true"
	failOnWarning="true"
	failOnEmptyTestSuite="true"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutCoversAnnotation="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	verbose="false"
	convertDeprecationsToExceptions="true">
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<report>
			<clover outputFile="tests/tmp/clover.xml"/>
			<text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="true"/>
		</report>
	</coverage>

	<testsuites>
		<testsuite name="PHPStan">
			<file>tests/PHPStan/Analyser/NodeScopeResolverTest.php</file>
		</testsuite>
	</testsuites>

	<groups>
		<exclude>
			<group>exec</group>
			<group>levels</group>
		</exclude>
	</groups>
	<logging/>
</phpunit>
