<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="tests/bootstrap.php" cacheResult="false" colors="true" executionOrder="random" failOnRisky="true" failOnWarning="true" failOnPhpunitWarning="false" failOnEmptyTestSuite="true" beStrictAboutChangesToGlobalState="true" beStrictAboutOutputDuringTests="true" cacheDirectory="tmp/.phpunit.cache" beStrictAboutCoverageMetadata="true" displayDetailsOnPhpunitDeprecations="true" displayDetailsOnIncompleteTests="true">
  <extensions>
    <bootstrap class="PHPStan\Testing\PHPUnit\PHPStanPHPUnitExtension"/>
  </extensions>
  <testsuites>
    <testsuite name="PHPStan">
      <directory suffix="Test.php">tests/PHPStan</directory>
      <exclude>tests/PHPStan/Reflection/ReflectionProviderGoldenTest.php</exclude>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>exec</group>
      <group>levels</group>
    </exclude>
  </groups>
  <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
    <include>
      <directory>src</directory>
    </include>
  </source>
  <logging/>
</phpunit>
