parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$interfaces$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/Builder/Class_.php

		-
			message: "#^Access to an undefined property PhpParser\\\\Node\\:\\:\\$stmts\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/Builder/Interface_.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$interfaces$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/Builder/Interface_.php

		-
			message: "#^Access to an undefined property PhpParser\\\\BuilderAbstract\\:\\:\\$flags\\.$#"
			count: 2
			path: PHP-Parser/lib/PhpParser/BuilderAbstract.php

		-
			message: "#^Method PhpParser\\\\BuilderAbstract\\:\\:normalizeValue\\(\\) should return PhpParser\\\\Node\\\\Expr but returns PhpParser\\\\Node\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/BuilderAbstract.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string\\|Node\\\\Name Name to alias\\)\\: Unexpected token \"Name\", expected variable at offset 88$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/BuilderFactory.php

		-
			message: "#^Expression \"@\\$undefinedVariable\" on a separate line does nothing\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/Lexer.php

		-
			message: "#^Undefined variable\\: \\$undefinedVariable$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/Lexer.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/Lexer.php

		-
			message: "#^Empty array passed to foreach\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/Lexer/Emulative.php

		-
			message: "#^Method PhpParser\\\\Node\\\\Expr\\\\Closure\\:\\:getStmts\\(\\) should return array\\<PhpParser\\\\Node\\\\Stmt\\> but returns array\\<PhpParser\\\\Node\\>\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/Node/Expr/Closure.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 4
			path: PHP-Parser/lib/PhpParser/Node/Name.php

		-
			message: "#^Method PhpParser\\\\Node\\\\Stmt\\\\ClassMethod\\:\\:getStmts\\(\\) should return array\\<PhpParser\\\\Node\\\\Stmt\\> but returns array\\<PhpParser\\\\Node\\>\\|null\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/Node/Stmt/ClassMethod.php

		-
			message: "#^Method PhpParser\\\\Node\\\\Stmt\\\\Function_\\:\\:getStmts\\(\\) should return array\\<PhpParser\\\\Node\\\\Stmt\\> but returns array\\<PhpParser\\\\Node\\>\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/Node/Stmt/Function_.php

		-
			message: "#^PHPDoc tag @param for parameter \\$attributes with type array\\|null is not subtype of native type array\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/Node/Stmt/TryCatch.php

		-
			message: "#^Access to an undefined property PhpParser\\\\Node\\:\\:\\$name\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/NodeVisitor/NameResolver.php

		-
			message: "#^Access to an undefined property PhpParser\\\\Node\\:\\:\\$namespacedName\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/NodeVisitor/NameResolver.php

		-
			message: "#^Method PhpParser\\\\NodeVisitor\\\\NameResolver\\:\\:beforeTraverse\\(\\) should return array\\<PhpParser\\\\Node\\>\\|null but return statement is missing\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/NodeVisitor/NameResolver.php

		-
			message: "#^Method PhpParser\\\\NodeVisitor\\\\NameResolver\\:\\:enterNode\\(\\) should return int\\|PhpParser\\\\Node\\|null but return statement is missing\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/NodeVisitor/NameResolver.php

		-
			message: "#^Method PhpParser\\\\NodeVisitorAbstract\\:\\:afterTraverse\\(\\) should return array\\<PhpParser\\\\Node\\>\\|null but return statement is missing\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/NodeVisitorAbstract.php

		-
			message: "#^Method PhpParser\\\\NodeVisitorAbstract\\:\\:beforeTraverse\\(\\) should return array\\<PhpParser\\\\Node\\>\\|null but return statement is missing\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/NodeVisitorAbstract.php

		-
			message: "#^Method PhpParser\\\\NodeVisitorAbstract\\:\\:enterNode\\(\\) should return int\\|PhpParser\\\\Node\\|null but return statement is missing\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/NodeVisitorAbstract.php

		-
			message: "#^Method PhpParser\\\\NodeVisitorAbstract\\:\\:leaveNode\\(\\) should return array\\<PhpParser\\\\Node\\>\\|int\\|PhpParser\\\\Node\\|false\\|null but return statement is missing\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/NodeVisitorAbstract.php

		-
			message: "#^Access to an undefined property PhpParser\\\\Node\\\\Expr\\:\\:\\$class\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/Parser/Php5.php

		-
			message: "#^Access to an undefined property PhpParser\\\\Node\\\\Expr\\:\\:\\$name\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/Parser/Php5.php

		-
			message: "#^Variable \\$s might not be defined\\.$#"
			count: 3
			path: PHP-Parser/lib/PhpParser/Parser/Php5.php

		-
			message: "#^Variable \\$s might not be defined\\.$#"
			count: 3
			path: PHP-Parser/lib/PhpParser/Parser/Php7.php

		-
			message: "#^Comparison operation \"\\<\" between \\(array\\|float\\|int\\<0, max\\>\\) and int results in an error\\.$#"
			count: 3
			path: PHP-Parser/lib/PhpParser/ParserAbstract.php

		-
			message: "#^Comparison operation \"\\>\\=\" between \\(array\\|float\\|int\\) and 0 results in an error\\.$#"
			count: 3
			path: PHP-Parser/lib/PhpParser/ParserAbstract.php

		-
			message: "#^Property PhpParser\\\\ParserAbstract\\:\\:\\$endAttributeStack \\(array\\<array\\>\\) does not accept array\\<int, string\\>\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/ParserAbstract.php

		-
			message: "#^Property PhpParser\\\\ParserAbstract\\:\\:\\$endAttributes \\(array\\) does not accept string\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/ParserAbstract.php

		-
			message: "#^Variable \\$action might not be defined\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/ParserAbstract.php

		-
			message: "#^Variable \\$tokenValue might not be defined\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/ParserAbstract.php

		-
			message: "#^Argument of an invalid type PhpParser\\\\Node supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: PHP-Parser/lib/PhpParser/Serializer/XML.php

