parameters:
	level: 8
	tmpDir: tmp
	paths:
		- src

services:
	-
		class: EarlyReflectionExtension\EarlyReflectionMethodsClassReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension
