parameters:
	ignoreErrors:
		-
			message: '#^Method Bug12629\\Bug12629\:\:is_macintosh_enc\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/bug-12629.php

		-
			message: '#^Method Bug12629\\Bug12629\:\:is_macintosh_enc\(\) has parameter \$s with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/bug-12629.php

		-
			message: '#^Method Bug12629\\Bug12629\:\:is_macintosh_enc\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/bug-12629.php
