services:
	-
		class: DynamicMethodThrowTypeExtension\MethodThrowTypeExtension
		tags:
			- phpstan.dynamicMethodThrowTypeExtension

	-
		class: DynamicMethodThrowTypeExtension\StaticMethodThrowTypeExtension
		tags:
			- phpstan.dynamicStaticMethodThrowTypeExtension

	-
		class: DynamicMethodThrowTypeExtensionNamedArgs\MethodThrowTypeExtension
		tags:
			- phpstan.dynamicMethodThrowTypeExtension

	-
		class: DynamicMethodThrowTypeExtensionNamedArgs\StaticMethodThrowTypeExtension
		tags:
			- phpstan.dynamicStaticMethodThrowTypeExtension

