services:
	-
		class: DynamicParameterTypeExtensionArrays\DynamicParameterTypeExtension
		tags:
			- phpstan.dynamicFunctionParameterTypeExtension
			- phpstan.dynamicMethodParameterTypeExtension
			- phpstan.dynamicStaticMethodParameterTypeExtension
