services:
	-
		class: PHPStan\Tests\GetByPrimaryDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStan\Tests\OffsetGetDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStan\Tests\CreateManagerForEntityDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: PHPStan\Tests\ConstructDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: PHPStan\Tests\ConstructWithoutConstructor
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: PHPStan\Tests\GetSelfDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStan\Tests\FooGetSelf
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStan\Tests\ConditionalGetSingle
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStan\Tests\Bug7344DynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStan\Tests\Bug7391BDynamicStaticMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: PHPStan\Tests\ObjectHookedDynamicStaticMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
