# config for ExpressionTypeResolverExtensionTest
services:
	-
		class: ExpressionTypeResolverExtension\MethodCallReturnsBoolExpressionTypeResolverExtension
		tags:
			- phpstan.broker.expressionTypeResolverExtension
	-
		class: ExpressionTypeResolverExtension\VirtualPropertyExpressionTypeResolverExtension
		tags:
			- phpstan.broker.expressionTypeResolverExtension

