parameters:
	featureToggles:
		bleedingEdge: true
		checkNonStringableDynamicAccess: true
		checkParameterCastableToNumberFunctions: true
		skipCheckGenericClasses!: []
		stricterFunctionMap: true
		reportPreciseLineForUnusedFunctionParameter: true
		checkPrintfParameterTypes: true
		internalTag: true
		newStaticInAbstractClassStaticMethod: true
		checkExtensionsForComparisonOperators: true
		reportTooWideBool: true
		rawMessageInBaseline: true
		reportNestedTooWideType: false
		assignToByRefForeachExpr: true
		curlSetOptArrayTypes: true
