parameters:
	featureToggles:
		bleedingEdge: true
		skipCheckGenericClasses!: []
		stricterFunctionMap: true

		explicitMixedViaIsArray: true
		arrayFilter: true
		arrayUnpacking: true
		arrayValues: true
		strictUnnecessaryNullsafePropertyFetch: true
		looseComparison: true
		consistentConstructor: true
		checkUnresolvableParameterTypes: true
		readOnlyByPhpDoc: true
		runtimeReflectionRules: true
		curlSetOptTypes: true
		missingMagicSerializationRule: true
		alwaysCheckTooWideReturnTypeFinalMethods: true
		alwaysTrueAlwaysReported: true
		disableUnreachableBranchesRules: true
		varTagType: true
		closureDefaultParameterTypeRule: true
		instanceofType: true
		propertyVariance: true
		callUserFunc: true
		magicConstantOutOfContext: true
		pure: true
		checkParameterCastableToStringFunctions: true
		uselessReturnValue: true
		printfArrayParameters: true
		tooWidePropertyType: true
		requireFileExists: true
