parameters:
	featureToggles:
		bleedingEdge: true
		skipCheckGenericClasses: []
		explicitMixedInUnknownGenericNew: true
		arrayFilter: true
		arrayUnpacking: true
	stubFiles:
		- ../stubs/bleedingEdge/Countable.stub
