includes:
	- config.level0.neon

parameters:
	checkMaybeUndefinedVariables: true
	checkExtraArguments: true
	reportMagicMethods: true
	reportMagicProperties: true

rules:
	- PHPStan\Rules\Classes\UnusedConstructorParametersRule
	- PHPStan\Rules\Functions\UnusedClosureUsesRule
	- PHPStan\Rules\Variables\EmptyRule
	- PHPStan\Rules\Variables\IssetRule
	- PHPStan\Rules\Variables\NullCoalesceRule

services:
	-
		class: PHPStan\Rules\Constants\ConstantRule
		factory: @PHPStan\Rules\Constants\ConstantRuleFactory::create()
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Constants\ConstantRuleFactory
