includes:
	- config.level3.neon

autowiredAttributeServices:
	# registers rules with #[RegisteredRule] and #[RegisteredCollector] attributes
	level: 4

conditionalTags:
	PHPStan\Rules\Exceptions\TooWideFunctionThrowTypeRule:
		phpstan.rules.rule: %exceptions.check.tooWideThrowType%
	PHPStan\Rules\Exceptions\TooWideMethodThrowTypeRule:
		phpstan.rules.rule: %exceptions.check.tooWideThrowType%
	PHPStan\Rules\Exceptions\TooWidePropertyHookThrowTypeRule:
		phpstan.rules.rule: %exceptions.check.tooWideThrowType%
	PHPStan\Rules\Keywords\UnusedLabelRule:
		phpstan.rules.rule: %featureToggles.unusedLabel%
	PHPStan\Rules\Comparison\ImpossibleInArrayHaystackFiniteTypesRule:
		phpstan.rules.rule: %featureToggles.finiteTypesInHaystack%

parameters:
	checkAdvancedIsset: true

services:
	-
		class: PHPStan\Rules\Exceptions\TooWideFunctionThrowTypeRule

	-
		class: PHPStan\Rules\Exceptions\TooWideMethodThrowTypeRule
		arguments:
			checkProtectedAndPublicMethods: %checkTooWideThrowTypesInProtectedAndPublicMethods%
			tooWideImplicitThrows: %exceptions.check.tooWideImplicitThrowType%

	-
		class: PHPStan\Rules\Exceptions\TooWidePropertyHookThrowTypeRule
		arguments:
			checkProtectedAndPublicMethods: %checkTooWideThrowTypesInProtectedAndPublicMethods%

	-
		class: PHPStan\Rules\Keywords\UnusedLabelRule

	-
		class: PHPStan\Rules\Comparison\ImpossibleInArrayHaystackFiniteTypesRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
