includes:
	- config.level6.neon

parameters:
	checkUnionTypes: true
	reportMaybes: true
	checkListType: true

rules:
	- PHPStan\Rules\Operators\PossiblyDivisionByZeroRule

services:
	-
		class: PHPStan\Rules\Operators\PossiblyDivisionByZeroRule
		arguments:
			checkNullables: %checkNullables%
		tags:
			- phpstan.rules.rule
