includes:
	- config.level4.neon

parameters:
	checkFunctionArgumentTypes: true
	checkArgumentsPassedByReference: true

autowiredAttributeServices:
	# registers rules with #[RegisteredRule] attribute
	level: 5
