includes:
	- config.level3.neon

rules:
	- PHPStan\Rules\Arrays\DeadForeachRule
	- PHPStan\Rules\DeadCode\CallToConstructorStatementWithoutImpurePointsRule
	- PHPStan\Rules\DeadCode\CallToFunctionStatementWithoutImpurePointsRule
	- PHPStan\Rules\DeadCode\CallToMethodStatementWithoutImpurePointsRule
	- PHPStan\Rules\DeadCode\CallToStaticMethodStatementWithoutImpurePointsRule
	- PHPStan\Rules\DeadCode\NoopRule
	- PHPStan\Rules\DeadCode\UnreachableStatementRule
	- PHPStan\Rules\DeadCode\UnusedPrivateConstantRule
	- PHPStan\Rules\DeadCode\UnusedPrivateMethodRule
	- PHPStan\Rules\Exceptions\OverwrittenExitPointByFinallyRule
	- PHPStan\Rules\Functions\CallToFunctionStatementWithoutSideEffectsRule
	- PHPStan\Rules\Functions\UselessFunctionReturnValueRule
	- PHPStan\Rules\Methods\CallToConstructorStatementWithoutSideEffectsRule
	- PHPStan\Rules\Methods\CallToMethodStatementWithoutSideEffectsRule
	- PHPStan\Rules\Methods\CallToStaticMethodStatementWithoutSideEffectsRule
	- PHPStan\Rules\Methods\NullsafeMethodCallRule
	- PHPStan\Rules\TooWideTypehints\TooWideArrowFunctionReturnTypehintRule
	- PHPStan\Rules\TooWideTypehints\TooWideClosureReturnTypehintRule
	- PHPStan\Rules\TooWideTypehints\TooWideFunctionReturnTypehintRule
	- PHPStan\Rules\TooWideTypehints\TooWideFunctionParameterOutTypeRule
	- PHPStan\Rules\TooWideTypehints\TooWideMethodParameterOutTypeRule
	- PHPStan\Rules\TooWideTypehints\TooWidePropertyTypeRule
	- PHPStan\Rules\Traits\NotAnalysedTraitRule

conditionalTags:
	PHPStan\Rules\Exceptions\TooWideFunctionThrowTypeRule:
		phpstan.rules.rule: %exceptions.check.tooWideThrowType%
	PHPStan\Rules\Exceptions\TooWideMethodThrowTypeRule:
		phpstan.rules.rule: %exceptions.check.tooWideThrowType%
	PHPStan\Rules\Exceptions\TooWidePropertyHookThrowTypeRule:
		phpstan.rules.rule: %exceptions.check.tooWideThrowType%

parameters:
	checkAdvancedIsset: true

services:
	-
		class: PHPStan\Rules\Classes\ImpossibleInstanceOfRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\BooleanAndConstantConditionRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\BooleanOrConstantConditionRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\BooleanNotConstantConditionRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\DeadCode\ConstructorWithoutImpurePointsCollector
		tags:
			- phpstan.collector

	-
		class: PHPStan\Rules\DeadCode\PossiblyPureNewCollector
		tags:
			- phpstan.collector

	-
		class: PHPStan\Rules\DeadCode\FunctionWithoutImpurePointsCollector
		tags:
			 - phpstan.collector

	-
		class: PHPStan\Rules\DeadCode\PossiblyPureFuncCallCollector
		tags:
			 - phpstan.collector

	-
		class: PHPStan\Rules\DeadCode\MethodWithoutImpurePointsCollector
		tags:
			 - phpstan.collector

	-
		class: PHPStan\Rules\DeadCode\PossiblyPureMethodCallCollector
		tags:
			 - phpstan.collector

	-
		class: PHPStan\Rules\DeadCode\PossiblyPureStaticCallCollector
		tags:
			 - phpstan.collector

	-
		class: PHPStan\Rules\DeadCode\UnusedPrivatePropertyRule
		arguments:
			alwaysWrittenTags: %propertyAlwaysWrittenTags%
			alwaysReadTags: %propertyAlwaysReadTags%
			checkUninitializedProperties: %checkUninitializedProperties%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\DoWhileLoopConstantConditionRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\ElseIfConstantConditionRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\IfConstantConditionRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\ImpossibleCheckTypeFunctionCallRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\ImpossibleCheckTypeMethodCallRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\ImpossibleCheckTypeStaticMethodCallRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\LogicalXorConstantConditionRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\MatchExpressionRule
		arguments:
			reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\NumberComparisonOperatorsConstantConditionRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\StrictComparisonOfDifferentTypesRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\ConstantLooseComparisonRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\TernaryOperatorConstantConditionRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\WhileLoopAlwaysFalseConditionRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\WhileLoopAlwaysTrueConditionRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Exceptions\TooWideFunctionThrowTypeRule

	-
		class: PHPStan\Rules\Exceptions\TooWideMethodThrowTypeRule

	-
		class: PHPStan\Rules\Exceptions\TooWidePropertyHookThrowTypeRule

	-
		class: PHPStan\Rules\TooWideTypehints\TooWideMethodReturnTypehintRule
		arguments:
			checkProtectedAndPublicMethods: %checkTooWideReturnTypesInProtectedAndPublicMethods%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Properties\NullsafePropertyFetchRule
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Traits\TraitDeclarationCollector
		tags:
			- phpstan.collector

	-
		class: PHPStan\Rules\Traits\TraitUseCollector
		tags:
			- phpstan.collector

	-
		class: PHPStan\Rules\Exceptions\CatchWithUnthrownExceptionRule
		arguments:
			exceptionTypeResolver: @exceptionTypeResolver
			reportUncheckedExceptionDeadCatch: %exceptions.reportUncheckedExceptionDeadCatch%
		tags:
			- phpstan.rules.rule
