includes:
	- config.level0.neon

parameters:
	checkMaybeUndefinedVariables: true
	checkExtraArguments: true
	reportMagicMethods: true
	reportMagicProperties: true

autowiredAttributeServices:
	# registers rules with #[RegisteredRule] attribute
	level: 1
