includes:
	- config.level4.neon

parameters:
	checkFunctionArgumentTypes: true
	checkArgumentsPassedByReference: true

rules:
	- PHPStan\Rules\DateTimeInstantiationRule
	- PHPStan\Rules\Functions\CallUserFuncRule
	- PHPStan\Rules\Functions\ParameterCastableToStringRule
	- PHPStan\Rules\Functions\ImplodeParameterCastableToStringRule
	- PHPStan\Rules\Functions\SortParameterCastableToStringRule
	- PHPStan\Rules\Regexp\RegularExpressionQuotingRule

services:
	-
		class: PHPStan\Rules\Functions\RandomIntParametersRule
		arguments:
			reportMaybes: %reportMaybes%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Functions\ArrayFilterRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Functions\ArrayValuesRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
			treatPhpDocTypesAsCertainTip: %tips.treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule
