includes:
	- config.level0.neon

parameters:
	checkMaybeUndefinedVariables: true
	checkExtraArguments: true
	reportMagicMethods: true
	reportMagicProperties: true


conditionalTags:
	PHPStan\Rules\Variables\VariableCertaintyNullCoalesceRule:
		phpstan.rules.rule: %featureToggles.nullCoalesce%

rules:
	- PHPStan\Rules\Classes\UnusedConstructorParametersRule
	- PHPStan\Rules\Constants\ConstantRule
	- PHPStan\Rules\Functions\UnusedClosureUsesRule
	- PHPStan\Rules\Variables\VariableCertaintyInIssetRule

services:
	-
		class: PHPStan\Rules\Variables\VariableCertaintyNullCoalesceRule
