includes:
	- config.level5.neon

parameters:
	checkGenericClassInNonGenericObjectType: true
	checkMissingIterableValueType: true
	checkMissingVarTagTypehint: true
	checkMissingTypehints: true

rules:
	- PHPStan\Rules\Constants\MissingClassConstantTypehintRule
	- PHPStan\Rules\Functions\MissingFunctionReturnTypehintRule
	- PHPStan\Rules\Methods\MissingMethodReturnTypehintRule
	- PHPStan\Rules\Properties\MissingPropertyTypehintRule

services:
	-
		class: PHPStan\Rules\Functions\MissingFunctionParameterTypehintRule
		arguments:
			paramOut: %featureToggles.paramOutType%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Methods\MissingMethodParameterTypehintRule
		arguments:
			paramOut: %featureToggles.paramOutType%
		tags:
			- phpstan.rules.rule
