includes:
	- config.level1.neon

parameters:
	checkClassCaseSensitivity: true
	checkThisOnly: false
	checkPhpDocMissingReturn: true

autowiredAttributeServices:
	# registers rules with #[RegisteredRule] attribute
	level: 2

conditionalTags:
	PHPStan\Rules\InternalTag\RestrictedInternalPropertyUsageExtension:
		phpstan.restrictedPropertyUsageExtension: %featureToggles.internalTag%
	PHPStan\Rules\InternalTag\RestrictedInternalMethodUsageExtension:
		phpstan.restrictedMethodUsageExtension: %featureToggles.internalTag%

services:
	-
		class: PHPStan\Rules\InternalTag\RestrictedInternalPropertyUsageExtension

	-
		class: PHPStan\Rules\InternalTag\RestrictedInternalMethodUsageExtension
