parametersSchema:
	bootstrapFiles: listOf(string())
	excludePaths: anyOf(
		structure([
			analyse: listOf(string()),
		]),
		structure([
			analyseAndScan: listOf(string()),
		])
		structure([
			analyse: listOf(string()),
			analyseAndScan: listOf(string())
		])
	)
	level: schema(anyOf(int(), string()), nullable())
	paths: listOf(string())
	exceptions: structure([
		implicitThrows: bool(),
		reportUncheckedExceptionDeadCatch: bool(),
		uncheckedExceptionRegexes: listOf(string()),
		uncheckedExceptionClasses: listOf(string()),
		checkedExceptionRegexes: listOf(string()),
		checkedExceptionClasses: listOf(string()),
		check: structure([
			missingCheckedExceptionInThrows: bool(),
			tooWideThrowType: bool()
		])
	])
	featureToggles: structure([
		bleedingEdge: bool(),
		checkParameterCastableToNumberFunctions: bool(),
		skipCheckGenericClasses: listOf(string()),
		stricterFunctionMap: bool()
	])
	fileExtensions: listOf(string())
	checkAdvancedIsset: bool()
	reportAlwaysTrueInLastCondition: bool()
	checkClassCaseSensitivity: bool()
	checkExplicitMixed: bool()
	checkImplicitMixed: bool()
	checkFunctionArgumentTypes: bool()
	checkFunctionNameCase: bool()
	checkInternalClassCaseSensitivity: bool()
	checkMissingCallableSignature: bool()
	checkMissingVarTagTypehint: bool()
	checkArgumentsPassedByReference: bool()
	checkMaybeUndefinedVariables: bool()
	checkNullables: bool()
	checkThisOnly: bool()
	checkUnionTypes: bool()
	checkBenevolentUnionTypes: bool()
	checkExplicitMixedMissingReturn: bool()
	checkPhpDocMissingReturn: bool()
	checkPhpDocMethodSignatures: bool()
	checkExtraArguments: bool()
	checkMissingTypehints: bool()
	checkTooWideReturnTypesInProtectedAndPublicMethods: bool()
	checkUninitializedProperties: bool()
	checkDynamicProperties: bool()
	strictRulesInstalled: bool()
	deprecationRulesInstalled: bool()
	inferPrivatePropertyTypeFromConstructor: bool()

	tips: structure([
		treatPhpDocTypesAsCertain: bool()
	])
	tipsOfTheDay: bool()
	reportMaybes: bool()
	reportMaybesInMethodSignatures: bool()
	reportMaybesInPropertyPhpDocTypes: bool()
	reportStaticMethodSignatures: bool()
	reportWrongPhpDocTypeInVarTag: bool()
	reportAnyTypeWideningInVarTag: bool()
	reportPossiblyNonexistentGeneralArrayOffset: bool()
	reportPossiblyNonexistentConstantArrayOffset: bool()
	checkMissingOverrideMethodAttribute: bool()
	parallel: structure([
		jobSize: int(),
		processTimeout: float(),
		maximumNumberOfProcesses: int(),
		minimumNumberOfJobsPerProcess: int(),
		buffer: int()
	])
	phpVersion: schema(anyOf(
		schema(int(), min(70100), max(80499)),
		structure([
			min: schema(int(), min(70100), max(80499)),
			max: schema(int(), min(70100), max(80499))
		])
	), nullable())
	polluteScopeWithLoopInitialAssignments: bool()
	polluteScopeWithAlwaysIterableForeach: bool()
	polluteScopeWithBlock: bool()
	propertyAlwaysWrittenTags: listOf(string())
	propertyAlwaysReadTags: listOf(string())
	additionalConstructors: listOf(string())
	treatPhpDocTypesAsCertain: bool()
	usePathConstantsAsConstantString: bool()
	rememberPossiblyImpureFunctionValues: bool()
	reportMagicMethods: bool()
	reportMagicProperties: bool()
	ignoreErrors: listOf(
		anyOf(
			string(),
			structure([
				?messages: listOf(string())
				?identifier: string()
				?path: string()
				?reportUnmatched: bool()
			]),
			structure([
				?message: string()
				?identifier: string()
				?path: string()
				?reportUnmatched: bool()
			]),
			structure([
				?message: string()
				count: int()
				path: string()
				?identifier: string()
				?reportUnmatched: bool()
			]),
			structure([
				?message: string()
				paths: listOf(string())
				?identifier: string()
				?reportUnmatched: bool()
			]),
			structure([
				?messages: listOf(string())
				paths: listOf(string())
				?identifier: string()
				?reportUnmatched: bool()
			])
		)
	)
	internalErrorsCountLimit: int()
	cache: structure([
		nodesByStringCountMax: int()
	])
	reportUnmatchedIgnoredErrors: bool()
	typeAliases: arrayOf(string())
	universalObjectCratesClasses: listOf(string())
	stubFiles: listOf(string())
	earlyTerminatingMethodCalls: arrayOf(listOf(string()))
	earlyTerminatingFunctionCalls: listOf(string())
	resultCachePath: string()
	resultCacheChecksProjectExtensionFilesDependencies: bool()
	dynamicConstantNames: listOf(string())
	customRulesetUsed: schema(bool(), nullable())
	rootDir: string()
	tmpDir: string()
	currentWorkingDirectory: string()
	cliArgumentsVariablesRegistered: bool()
	mixinExcludeClasses: listOf(string())
	scanFiles: listOf(string())
	scanDirectories: listOf(string())
	editorUrl: schema(string(), nullable())
	editorUrlTitle: schema(string(), nullable())
	errorFormat: schema(string(), nullable())
	pro: structure([
		dnsServers: schema(listOf(string()), min(1)),
		tmpDir: string()
	])
	env: arrayOf(string(), anyOf(int(), string()))
	sysGetTempDir: string()

	# playground mode
	sourceLocatorPlaygroundMode: bool()

	# irrelevant Nette parameters
	debugMode: bool()
	productionMode: bool()
	tempDir: string()
	__validate: bool()

	# internal parameters only for DerivativeContainerFactory
	additionalConfigFiles: listOf(string())
	generateBaselineFile: schema(string(), nullable())
	analysedPaths: listOf(string())
	allConfigFiles: listOf(string())
	composerAutoloaderProjectPaths: listOf(string())
	analysedPathsFromConfig: listOf(string())
	usedLevel: string()
	cliAutoloadFile: schema(string(), nullable())
