# WARNING - This isn't ready for use

parameters:
	featureToggles:
		disableRuntimeReflectionProvider: true

services:
	reflectionProvider:
		factory: @betterReflectionProvider
		autowired:
			- PHPStan\Reflection\ReflectionProvider
