# WARNING - This isn't ready for use

parameters:
	featureToggles:
		disableRobotLoader: true
		disableRuntimeReflectionProvider: true
		enableScanningPaths: true

services:
	reflectionProvider:
		factory: @betterReflectionProvider
		autowired:
			- PHPStan\Reflection\ReflectionProvider
