parameters:
    level: 9
    paths:
        - src
        - rules

    # force the use of parallel processing
    parallel:
        jobSize: 1
        minimumNumberOfJobsPerProcess: 1

rules:
    - Rules\DummyRule
