parameters:
	inferPrivatePropertyTypeFromConstructor: true
	featureToggles:
		disableRuntimeReflectionProvider: false

services:
	cacheStorage:
		class: PHPStan\Cache\MemoryCacheStorage
		arguments!: []
	currentPhpVersionSimpleParser!:
		factory: @currentPhpVersionRichParser
