parameters:
	inferPrivatePropertyTypeFromConstructor: true
	featureToggles:
		checkUnresolvableParameterTypes: true

services:
	-
		class: PHPStan\Testing\TestCaseSourceLocatorFactory
		arguments:
			phpParser: @phpParserDecorator
			php8Parser: @php8PhpParser
			fileNodesFetcher: @defaultFileNodesFetcher

	cacheStorage:
		class: PHPStan\Cache\MemoryCacheStorage
		arguments!: []

	currentPhpVersionSimpleParser!:
		factory: @currentPhpVersionRichParser

	currentPhpVersionLexer:
		class: PhpParser\Lexer
		factory: @PHPStan\Parser\LexerFactory::createEmulative()

	betterReflectionSourceLocator:
		class: PHPStan\BetterReflection\SourceLocator\Type\SourceLocator
		factory: @PHPStan\Testing\TestCaseSourceLocatorFactory::create()
		autowired: false

	reflectionProvider:
		factory: @betterReflectionProvider
		arguments!: []
		autowired:
			- PHPStan\Reflection\ReflectionProvider
