services:
	-
		class: PHPStan\Testing\TestCaseSourceLocatorFactory
		arguments:
			phpParser: @phpParserDecorator
			php8Parser: @php8PhpParser

	currentPhpVersionLexer:
		class: PhpParser\Lexer
		factory: PhpParser\Lexer\Emulative
		arguments:
			options:
				usedAttributes: [comments, startLine, endLine, startTokenPos, endTokenPos]

	testCaseBetterReflectionProvider:
		class: PHPStan\Reflection\BetterReflection\BetterReflectionProvider
		arguments:
			reflector: @testCaseReflector
		autowired: false

	originalTestCaseReflector:
		class: PHPStan\BetterReflection\Reflector\DefaultReflector
		arguments:
			sourceLocator: @testCaseSourceLocator

	testCaseReflector:
		class: PHPStan\Reflection\BetterReflection\Reflector\MemoizingReflector
		arguments:
			reflector: @originalTestCaseReflector
		autowired: false

	testCaseSourceLocator:
		class: PHPStan\BetterReflection\SourceLocator\Type\SourceLocator
		factory: @PHPStan\Testing\TestCaseSourceLocatorFactory::create()
		autowired: false

	reflectionProvider:
		factory: @testCaseBetterReflectionProvider
		autowired:
			- PHPStan\Reflection\ReflectionProvider
