parameters:
	inferPrivatePropertyTypeFromConstructor: true
	narrowMethodScopeFromConstructor: false

services:
	-
		class: PHPStan\Testing\TestCaseSourceLocatorFactory
		arguments:
			phpParser: @phpParserDecorator
			php8Parser: @php8PhpParser
			fileExtensions: %fileExtensions%
			excludePaths: %excludePaths%

	# overrides service from parsers.neon
	currentPhpVersionSimpleParser!:
		factory: @currentPhpVersionRichParser

	# overrides service from parsers.neon
	currentPhpVersionLexer:
		class: PhpParser\Lexer
		factory: @PHPStan\Parser\LexerFactory::createEmulative()

	# overrides service from services.neon
	betterReflectionSourceLocator:
		class: PHPStan\BetterReflection\SourceLocator\Type\SourceLocator
		factory: @PHPStan\Testing\TestCaseSourceLocatorFactory::create()
		autowired: false

	# overrides service from services.neon
	reflectionProvider:
		factory: @betterReflectionProvider
		arguments!: []
		autowired:
			- PHPStan\Reflection\ReflectionProvider
