services:
	-
		class: PHPStan\Testing\TestCaseSourceLocatorFactory
		arguments:
			phpParser: @phpParserDecorator
			php8Parser: @php8PhpParser

	currentPhpVersionLexer:
		class: PhpParser\Lexer
		factory: PhpParser\Lexer\Emulative
		arguments:
			options:
				usedAttributes: [comments, startLine, endLine, startTokenPos, endTokenPos]

	testCaseBetterReflectionProvider:
		class: PHPStan\Reflection\BetterReflection\BetterReflectionProvider
		arguments:
			classReflector: @testCaseClassReflector
			functionReflector: @testCaseFunctionReflector
			constantReflector: @testCaseConstantReflector
		autowired: false

	testCaseClassReflector:
		class: PHPStan\Reflection\BetterReflection\Reflector\MemoizingClassReflector
		arguments:
			sourceLocator: @testCaseSourceLocator
		autowired: false

	testCaseFunctionReflector:
		class: PHPStan\Reflection\BetterReflection\Reflector\MemoizingFunctionReflector
		arguments:
			classReflector: @testCaseClassReflector
			sourceLocator: @testCaseSourceLocator
		autowired: false

	testCaseConstantReflector:
		class: PHPStan\Reflection\BetterReflection\Reflector\MemoizingConstantReflector
		arguments:
			classReflector: @testCaseClassReflector
			sourceLocator: @testCaseSourceLocator
		autowired: false

	testCaseSourceLocator:
		class: PHPStan\BetterReflection\SourceLocator\Type\SourceLocator
		factory: @PHPStan\Testing\TestCaseSourceLocatorFactory::create()
		autowired: false

	reflectionProvider:
		factory: @testCaseBetterReflectionProvider
		autowired:
			- PHPStan\Reflection\ReflectionProvider
