parameters:
	bootstrapFiles:
		- here.php
	scanFiles:
		- here.php
		- test/there.php
		- ../up.php
	scanDirectories:
		- src
		- .
		- %rootDir%/conf
	paths:
		- src
	excludePaths:
		- src
		- src/*/data
		- */src/*/data
