includes:
	- stub-files.neon

parameters:
	level: 8
	paths:
		- src
	bootstrapFiles:
		- bootstrap.php

services:
	-
		class: Bug15120\FrameworkStubFilesExtension
		tags:
			- phpstan.stubFilesExtension
