parameters:
	ignoreErrors:
		- "#error#"
		-
			message: '#error#'
		-
			message: '#error#'
			reportUnmatched: false
		-
			message: '#error#'
			path: '/dir/*'
		-
			message: '#error#'
			path: '/dir/*'
			reportUnmatched: false
		-
			messages:
				- '#error#'
		-
			messages:
				- '#error#'
			path: '/dir/*'
		-
			messages:
				- '#error#'
			path: '/dir/*'
			reportUnmatched: false
		-
			message: '#error#'
			paths:
				- '/dir/*'
		-
			message: '#error#'
			paths:
				- '/dir/*'
			reportUnmatched: false
		-
			messages:
				- '#error#'
			paths:
				- '/dir/*'
		-
			messages:
				- '#error#'
			paths:
				- '/dir/*'
			reportUnmatched: false
		-
			identifiers:
				- 'error.identifier'
		-
			identifiers:
				- 'error.identifier'
			path: '/dir/*'
		-
			identifiers:
				- 'error.identifier'
			paths:
				- '/dir/*'
		-
			identifiers:
				- 'error.identifier'
				- 'another.identifier'
			path: '/dir/*'
			reportUnmatched: false
