# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: "Lint"

on:
  pull_request:
  push:
    branches:
      - "master"

env:
  COMPOSER_ROOT_VERSION: "1.0.x-dev"

jobs:
  lint:
    name: "Lint"
    runs-on: "ubuntu-latest"
    timeout-minutes: 30

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "7.1"
          - "7.2"
          - "7.3"
          - "7.4"
          - "8.0"
          - "8.1"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"

      - name: "Validate Composer"
        run: "composer validate"

      - name: "Install dependencies"
        run: "composer install --no-interaction --no-progress --no-suggest"

      - name: "Transform source code"
        if: matrix.php-version != '7.4' && matrix.php-version != '8.0'
        run: php bin/transform-source.php

      - name: "Lint"
        run: "make lint"

  coding-standards:
    name: "Coding Standard"

    runs-on: "ubuntu-latest"
    timeout-minutes: 30

    strategy:
      matrix:
        php-version:
          - "8.0"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"

      - name: "Validate Composer"
        run: "composer validate"

      - name: "Install dependencies"
        run: "composer install --no-interaction --no-progress --no-suggest"

      - name: "Lint"
        run: "make lint"

      - name: "Coding Standard"
        run: "make cs"

  dependency-analysis:
    name: "Dependency Analysis"

    runs-on: "ubuntu-latest"
    timeout-minutes: 30

    strategy:
      matrix:
        php-version:
          - "8.0"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"

      - name: "Install dependencies"
        run: "composer install --no-interaction --no-progress --no-suggest"

      - name: "Composer Require Checker"
        run: "make composer-require-checker"
